.studentcontainer {
  position: relative;
  border-radius: 5px;
  .studentbox {
    transition: ease 1s;
    position: relative;
    width: 300px;
    .imagecontainer {
      img {
        width: 300px;
        height: 300px;
      }
    }
    .otherinfo {
      position: absolute;
      width: 300px;
      height: 300px;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 10px;
      z-index: 1;
      display: none;
      .infocontainer {
        display: none;
        letter-spacing: -0.003em;
        line-height: 32px;
        font-size: 18px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
    &:hover {
      .infocontainer,
      .otherinfo {
        display: block;
      }
      .imagecontainer {
        display: none;
      }
    }
  }
}
