.footercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right,#f5d020,#f57803);
    color: white;
    font-weight: bold;
}